@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #2d4271;
    width: 100%;
    margin-bottom: 33px;
    margin-top: 45px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d4271;
    width: 100%;
    margin: 10px 0;
}

h4 {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #2d4271;
    margin-bottom: 0;
}

.content{
    padding: 0;
}

.container2 {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    margin-bottom: 50px !important;
}

.checkout-head {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.checkout-head-container {
    margin: 0 100px;
}

.checkout-head-container .row {
    display: flex;
    flex-wrap: wrap;
}

.checkout-head .head {
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #2d4271;
    font-weight: 700;
    list-style-type: none;
    padding: 0 10px;
}

.checkout-head .head .checked {
    color: #4d4aef;
}

.checkout-head .head li {
    padding-right: 16px;
}


.overview-container {
    width: 100%;
    display: flex;
}

.payment {
    flex-basis: 65%;
    padding-right: 20px;
}

.payment-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.payment-item {
    width: 48%;
    height: 75px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}

.payment-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.payment-item i {
    font-size: 26px;
    color: #2d4271;
}

.payment-item span {
    font-size: 16px;
    color: #2d4271;
    font-weight: 700;
}

.payment-item-check {
    width: 20px;
    height: 20px;
}

.payment-item-check input {
    width: 100%;
    height: 100%;
}

.scrollable-content{
    padding: 20px;
}

.scrollable-content::-webkit-scrollbar {
    width: 5px;
    text-align: justify;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

.scrollable-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eee;
    border-radius: 10px;
}

.group-checkout {
    display: inline-block;
    flex-basis: 35%;
    height: 100%;
}

.group-checkout-container {
    border: 1px solid #d5d5d5;
    padding: 20px;
}

.box-support {
    margin-bottom: 33px;
    margin-top: 45px;
}

.box-support label {
    display: block;
    color: #2d4271;
    margin-bottom: 8px;
}

.box-support .group-contact {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #4d4aef;
    border-radius: 14px;
    max-width: 350px;
}

.box-support .group-contact .phone {
    background: #4d4aef;
    border-radius: 10px;
    height: 50px;
    width: 183px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.box-support .group-contact .phone i {
    font-size: 25px;
    margin-right: 5px;
}

.box-support .group-contact .phone p {
    margin: 0;
    line-height: 16px;
}

.box-support .group-contact .mail {
    border-radius: 10px;
    height: 50px;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d4aef;
}

.box-support .group-contact .mail i {
    font-size: 25px;
    margin-right: 5px;
}

.box-support .group-contact .mail p {
    margin: 0;
    line-height: 16px;
}

.group-checkout h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2d4271;
    margin-bottom: 20px;
}


.package-title {
    font-weight: 700;
    line-height: 19px;
    color: #2d4271;
    margin-bottom: 15px;
}

.package-title span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #2d4271;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-image img {
    height: 100px;
    border-radius: 10px;
}

.product-content {
    padding-left: 13px;
}

.product-content .product-title {
    display: inline;
    font-weight: 700;
    line-height: 19px;
    color: #2d4271;
    max-width: 100%;
    margin-bottom: 0;
    height: 100%;
}

.go-tour .start,
.go-tour .end {
    display: flex;
    height: 70px;
}

.go-tour .start {
    position: relative;
}

.go-tour .start::after {
    position: absolute;
    content: "";
    height: 100%;
    border: 1px dashed #7d8fab;
    top: 0;
    left: 7px;
}

.go-tour i {
    font-size: 20px;
    color: #4d4aef;
    margin-right: 15px;
}

.detail {
    margin-top: 20px;
}

.detail table {
    caption-side: bottom;
    border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.detail table th,
.detail table td {
    padding: 10px 0;
}

.detail table .l1 {
    width: 50%;
    font-weight: 700;
    line-height: 19px;
    color: #2d4271;
    text-align: left;
}

.detail table .l2 {
    width: 50%;
    font-weight: 700;
    line-height: 19px;
    color: #2d4271;
    text-align: right;
}


.detail table .l2 i {
    color: #4d4aef;
    font-size: 25px;
}

.detail table .l2 .add-more {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #2d4271;
}

.detail table .text-right {
    font-weight: 700;
    line-height: 19px;
    text-align: right;
    color: #2d4271;
}

.detail table .pt td,
.cuppon td {
    font-weight: 700;
    color: #2d4271;
}

.detail table .cuppon td form {
    display: flex;
    align-items: center;
}

.detail table .cuppon td form input {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    max-width: 125px;
}

.detail table .cuppon td form input:last-of-type {
    margin-left: 5px;
    background-color: #198754;
    color: white;
}

.detail table .cuppon td form input:last-of-type:hover {
    background-color: #157347;
    cursor: pointer;
}

.detail table .total td {
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    color: #2d4271;
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
}

.detail table .total td.t-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: right;
    color: #fd5056;
    text-transform: lowercase;
}

.detail .btn-order {
    background: linear-gradient(64.4deg, #fd5056 21.33%, #fe2214 67.61%);
    border-radius: 10px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

.ck.ck-editor{
    /* min-width: 668.48px; */
    max-width: 668.48px;
}

.fit-content {
    display: inline-block;
    max-width: 668.48;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }